/*     Made by @tribhuwan-kumar    */
/*    17th of September 2023       */
/*        MIT License              */

:root{
  --DarkModeText-color: #f0f8ff;
  --HighLightText-color: #7541f8;

  } 

*{
    padding: 0px;
    margin: 0px;
 
  }

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: rgb(4, 0, 26) !important;
    scroll-behavior: smooth;
    cursor: default;

}

.container-fluid{
    padding-bottom: 2500px;
    
} 

#nav_container{
    height: 80px;
    width: 100%;
    background: rgba(8, 9, 31, 0.48);
    backdrop-filter: blur(1.5px);
    z-index: 100;
    box-shadow: rgba(0, 9, 69, 0.147) 0px 2px 5px;

}

#navbar{
  margin-top: 31px;
  margin-right: 50px;

}

#navbar a{
  color: var(--DarkModeText-color);
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(23, 0, 171, 0.3);

}

#navbar a:hover {
  transition: color 1.2s;
  color: var(--HighLightText-color);
  text-shadow: 2px 2px 4px rgba(17, 1, 110, 0.307)

}

#left_heading{
  color: var(--DarkModeText-color);
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 50px;
  text-shadow: 2px 2px 4px rgba(10, 1, 81, 0.3);
  text-decoration: none;

}

#left_heading:hover{
  color: var(--HighLightText-color);
  transition: color .8s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

#background h1{
  font-weight: 600;
  margin-top: 160px;
  font-size: 2.8rem;
  font-family: 'Raleway', sans-serif;
  color: var(--DarkModeText-color);
  text-shadow: 2px 2px 4px rgba(106, 106, 106, 0.3);
  text-transform: uppercase;

}


#introduce_block{
  margin-top: 50px;

}

#introduce_block > img{
  max-width: 510px;
  height: fit-content;

}

#introduce_block > p{
  color: var(--DarkModeText-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  word-wrap: auto;
  max-width: 800px;
  max-height: fit-content;

} 

#quote > h4{
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
  backdrop-filter: blur(1.5px);

}

#name{
  color: var(--DarkModeText-color);
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
  font-family: 'Raleway', sans-serif;

}

#tech_stack{
  margin-top: 160px;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: var(--DarkModeText-color);

}

.icons_container a{
  color: var(--DarkModeText-color);
  font-size: 70px;
  margin: 0 10px;
  margin-bottom: 20px;
  border: 4px solid #7541F847;
  border-radius: 8px;
  padding: 8px 70px;
  transition: all 0.5s ease;

}

.icons_container a:hover{
  color: var(--DarkModeText-color);
  box-shadow: 0px -1px 15px 1px rgba(4, 14, 67, 0.959);
}

#tool_container a{
  color: var(--DarkModeText-color);
  font-size: 74px;
  margin: 0 10px;
  margin-top: 30px;
  border: 4px solid #7541F847;
  border-radius: 8px;
  padding: 8px 70px;
  transition: all 0.3s ease;
  text-align: center;

}

#logos{
  padding-bottom: 21px; 
}

#contribution_chart img{
  width: 1250px;
  max-height: fit-content;

}

footer {
  background-color: #020418;
  height: 70px;
  width: 100vw;
  
}

#created_text{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: var(--DarkModeText-color);

}

#created_text a{
  text-decoration: none;
  font-size: inherit;
  color: var(--HighLightText-color);
  font-weight: 600;

}

#created_text a:hover{
  color: var(--DarkModeText-color);
  transition: color .8s;

}

#copyright_text{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: var(--DarkModeText-color);

}

#footer-social-icons a{
  color: var(--DarkModeText-color);
  margin: 0 10px;
  text-decoration: none;
  font-size: 22px;

}

#footer-social-icons a:hover{
  color: #cbb8ff;
  transition: color .8s;
  text-shadow: 2px 2px 4px rgba(113, 6, 189, 0.668);

}

.highlight_text{
  text-decoration: none;
  color: var(--HighLightText-color);
  font-weight: inherit;
  text-shadow: 2px 2px 4px rgba(20, 0, 255, 0.27);

}

.highlight_text:hover{
   color: var(--DarkModeText-color);
   transition: color .8s;
   text-shadow: 1px 1px 2px rgba(68, 0, 162, 0.37);

}

.menu_icon div{
  width: 25px;
  height: 3px;
  background: var(--DarkModeText-color);
  margin: 5px;
  transition:all 0.3s ease;
}

.menu_icon.active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu_icon.active .line:nth-child(2) {
  opacity: 0;
}

.menu_icon.active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Large devices (landscape phones, greater than 768px and less than 1049px) */
@media only screen and (min-width: 768px) and (max-width: 1049px) {

  .container-fluid {
    padding-bottom: 3000px !important;
  } 

  #navbar {
    margin-right: 15px;
  }  

  #navbar a {
    padding: 10px 6px;
    font-size: 1.2rem;
  }

  #left_heading {
    margin-left: 30px;
    font-size: 2.1rem;
  }

  #background h1 {
    font-size: 2.5rem;
    margin-top: 210px;
  }
  
  #introduce_block {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  #introduce_block > P{
     font-size: 18px;
     width: 90vw;
  }

  #introduce_block > img{
     margin: auto !important;
     width: 450px;
  }

  #quote > h4 {
    font-size: 2.1rem;
  }

  #name {
    font-size: 1.2rem;
  }

  #tech_stack{
    font-size: 2.1rem;
    margin-top: 102px;
  }

  .icons_container a{
    padding: 5px 65px;
  }

  #tool_container a{
    padding: 5px 65px;
  }

}

/* Small devices (landscape phones, less than 768px and greater than 576px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px){

  .menu_icon {
      top: 33px;
      right: 50px; 
      z-index: 1000;
      cursor: pointer;
      position: absolute;
  }

  #navbar.open {
      margin: 0;
      padding-top: 60px;
      padding-right: 35px;
      opacity: 95%;
      z-index: 100;
      position: sticky;
      overflow: hidden;
      height: fit-content;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 5px 0 10px rgba(6, 3, 77, 0.1);
      background: linear-gradient(to right bottom, #080424, #050118);

  }

  .container-fluid {
      padding-bottom: 3200px;
  } 

  #navbar.open a {
      margin: 10px;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 5px;
  }

  #navbar {
      margin-right: 15px;
  }  

  #navbar a {
      padding: 10px 6px;
      font-size: 1.2rem;
  }

  #left_heading {
      margin-left: 30px;
      font-size: 2.1rem;
  }

  #background h1 {
      font-size: 2.3rem;
      margin-top: 160px;
  }

  #introduce_block {
      margin-top: 50px;
      flex-direction: column-reverse;
  }

  #introduce_block > P{
      font-size: 18px;
      width: 90vw;
  }

  #introduce_block > img{
      width: 420px;
  }

  #quote > h4 {
      font-size: 2.1rem;
  }

  #name {
      font-size: 1.2rem;
  }

  footer{
      display: inline-block !important;
      text-align: center !important;
      width: 100vw;
      height: 100px;
      display: flex;
      flex-direction: column;
  }

  #created_text{
      text-align: center;
      margin-left: 0 !important;
      width: 100vw !important;
      margin-top: 10px;
  }

  #copyright_text{
      text-align: center;
      margin-left: 0 !important;
      display: inline-block;
      width: 100vw !important;
  }

  #footer-social-icons a{
      margin: 0 8px;
  }

}

/* Small devices (landscape phones, less than 576px) */
  @media (max-width: 576px){

  .menu_icon {
      top: 36px;
      right: 28px;
      z-index: 1000;
      cursor: pointer;
      position: absolute;

  }

  #navbar.open {
      margin: 0;
      padding-top: 60px;
      padding-right: 35px;
      opacity: 95%;
      z-index: 100;
      position: sticky;
      overflow: hidden;
      height: fit-content;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 5px 0 10px rgba(6, 3, 77, 0.1);
      background: linear-gradient(to right bottom, #080424, #050118);

  }

  #navbar.open a {
      margin: 10px;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 5px;
      margin-top: 5px; 
  }

  .container-fluid {
      padding-bottom: 3400px;
  }

  #left_heading{
      margin-top: 28px;
      margin-left: 18px;
      font-size: 1.8rem;
  }

  #background h1 {
      font-size: 2.2rem;
      margin-top: 200px;
  }

  #introduce_block {
      margin-top: 50px;
      flex-direction: column-reverse;
  }

  #introduce_block > P{
      font-size: 18px;
      width: 90vw;
  }

  #introduce_block > img{
      width: 300px;
  }

  #quote{
      margin-top: 40px;
  }

  #quote > h4 {
      font-size: 1.8rem;
      font-weight: 600;
  }

  #name {
      font-size: 1.1rem;
  }

  #tech_stack{
      font-size: 2rem;
  }

  .icons_container {
      flex-direction: column !important;
      text-align: center;
  }

  .icons_container a {
      margin-bottom: 15px;
      height: fit-content;
      padding: 15px 35px !important;
    }

  #tool_container a{
      padding: 10px 28px !important;
      height: fit-content;
      /* width: max-content; */
      margin-bottom: 10px;
      margin-top: 10px;
    }

  footer{
      display: inline-block !important;
      text-align: center !important;
      width: 100vw;
      height: 100px;
      display: flex;
      flex-direction: column;
     }

  #created_text{
      text-align: center;
      margin-left: 0 !important;
      width: 100vw !important;
      margin-top: 10px;
      font-size: 14px;
     }

  #copyright_text{
      text-align: center;
      margin-left: 0 !important;
      display: inline-block;
      width: 100vw !important;
      font-size: 14px;
     }

  #footer-social-icons a{
      margin: 0 8px;
     }
}

@media only screen and (min-width: 1049.2px) and (max-width: 1199.8px) {

  #introduce_block > img{
    max-width: 450px;
  }
  
}




@media (max-width: 352px){ 
  #tool_container a{
      padding: 10px 28px !important;
      height: fit-content;
      /* width: max-content; */
      margin-bottom: 10px;
      margin-top: 10px;
      width: 135px;
  }

  .icons_container a {
    margin-bottom: 13px;
    height: fit-content;
    padding: 9px 28px !important;
  }
  
  .neovim_logo{
    margin-left: -11px;
    padding-bottom: 21px;
  }

}














