/*     Made by @tribhuwan-kumar    */
/*    17th of September 2023       */
/*        MIT License              */

/*     Made by @tribhuwan-kumar    */
/*    17th of September 2023       */
/*        MIT License              */

:root{
  --DarkModeText-color: #f0f8ff;
  --HighLightText-color: #7541f8;

  } 

*{
    padding: 0px;
    margin: 0px;
 
  }

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: black;
    scroll-behavior: smooth;
    cursor: default;

}

.container-fluid{
    padding-bottom: 1000px;
    
} 

#nav_container{
    height: 80px;
    width: 100%;
    background: rgba(8, 9, 31, 0.48);
    backdrop-filter: blur(1.5px);
    z-index: 100;
    box-shadow: rgba(0, 9, 69, 0.147) 0px 2px 5px;

}

#navbar{
  margin-top: 31px;
  margin-right: 50px;

}

#navbar a{
  color: var(--DarkModeText-color);
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(23, 0, 171, 0.3);

}

#navbar a:hover {
  transition: color 1.2s;
  color: var(--HighLightText-color);
  text-shadow: 2px 2px 4px rgba(17, 1, 110, 0.307)

}

#left_heading{
  color: var(--DarkModeText-color);
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 50px;
  text-shadow: 2px 2px 4px rgba(10, 1, 81, 0.3);
  text-decoration: none;

}

#left_heading:hover{
  color: var(--HighLightText-color);
  transition: color .8s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

#box{
  height: fit-content;
  max-width:  500px;
  box-shadow: 0px 0px 15px rgba(3, 0, 90, 0.807);
  
}

#box img{
  filter: drop-shadow(5px 0 10px rgba(6, 3, 77, 0.1));
  margin-top: -45px;
  margin-bottom: -35px;
  max-width: 430px;

}

#background h1{
  font-weight: 600;
  margin-top: 160px;
  font-size: 2.6rem;
  font-family: 'Raleway', sans-serif;
  color: var(--DarkModeText-color);
  text-shadow: 2px 2px 4px rgba(106, 106, 106, 0.3);
  text-transform: uppercase;

}

#background > p{
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(106, 106, 106, 0.3);

}

#box h4{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

#button{
  background: linear-gradient(to right bottom, #7541f8, #2b0097);
  color: aliceblue; 
  padding: 10px 16px; 
  font-size: 20px; 
  font-weight: 600;
  border-radius: 9px; 
  border: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.8s ease-in;
  transition: color 0.5s ease-out;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;

}

#button a{
  text-decoration: none;
  color: aliceblue;
  transition: background-color 0.8s ease-in;
  transition: color 0.5s ease-out;

}

#button a:hover{
  text-decoration: none;
  color: #d3c1ff; 
  transition: color 0.5s ease-in;

}

footer {
  background-color: #020418;
  height: 70px;
  width: 100vw;
  
}

#created_text{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: var(--DarkModeText-color);

}

#created_text a{
  text-decoration: none;
  font-size: inherit;
  color: var(--HighLightText-color);
  font-weight: 600;

}

#created_text a:hover{
  color: var(--DarkModeText-color);
  transition: color .8s;

}

#copyright_text{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: var(--DarkModeText-color);

}

.highlight_text{
  text-decoration: none;
  color: var(--HighLightText-color);
  font-weight: inherit;
  text-shadow: 2px 2px 4px rgba(20, 0, 255, 0.27);

}

.highlight_text:hover{
  color: var(--DarkModeText-color);
  transition: color .8s;
  text-shadow: 1px 1px 2px rgba(68, 0, 162, 0.37);
  
}

.menu_icon div{
  width: 25px;
  height: 3px;
  background: var(--DarkModeText-color);
  margin: 5px;
  transition:all 0.3s ease;
}

.menu_icon.active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu_icon.active .line:nth-child(2) {
  opacity: 0;
}

.menu_icon.active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

#footer-social-icons a{
  color: var(--DarkModeText-color);
  margin: 0 10px;
  text-decoration: none;
  font-size: 22px;

}

#footer-social-icons a:hover{
  color: #cbb8ff;
  transition: color .8s;
  text-shadow: 2px 2px 4px rgba(113, 6, 189, 0.668);

}

/* Large devices (landscape phones, greater than 768px and less than 1049px) */
 @media only screen and (min-width: 768px) and (max-width: 1049px) {

  .container-fluid {
    padding-bottom: 1000px !important;
  } 

  #navbar {
    margin-right: 15px;
  }  

  #navbar a {
    padding: 10px 6px;
    font-size: 1.2rem;
  }

  #left_heading {
    margin-left: 30px;
    font-size: 2.1rem;
  }

  #background h1 {
    font-size: 2.3rem;
    margin-top: 210px;
  }

  #background > p{
    font-size: 1.2rem;
  }

  #box h4 {
    font-size: 18px;
  }

}

/* Small devices (landscape phones, less than 768px and greater than 576px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px){

  .menu_icon {
      top: 33px;
      right: 50px; 
      z-index: 1000;
      cursor: pointer;
      position: absolute;
  }

  #navbar.open {
      margin: 0;
      padding-top: 60px;
      padding-right: 35px;
      opacity: 95%;
      z-index: 100;
      position: sticky;
      overflow: hidden;
      height: fit-content;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 5px 0 10px rgba(6, 3, 77, 0.1);
      background: linear-gradient(to right bottom, #080424, #050118);

  }

  .container-fluid {
      padding-bottom: 1000px;
  } 

  #navbar.open a {
      margin: 10px;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 5px;
  }

  #navbar {
      margin-right: 15px;
  }  

  #navbar a {
      padding: 10px 6px;
      font-size: 1.2rem;
  }

  #left_heading {
      margin-left: 30px;
      font-size: 2.1rem;
  }

  #background h1 {
      font-size: 2.3rem;
      margin-top: 160px;
  }

  footer{
      display: inline-block !important;
      text-align: center !important;
      width: 100vw;
      height: 100px;
      display: flex;
      flex-direction: column;
  }

  #created_text{
      text-align: center;
      margin-left: 0 !important;
      width: 100vw !important;
      margin-top: 10px;
  }

  #copyright_text{
      text-align: center;
      margin-left: 0 !important;
      display: inline-block;
      width: 100vw !important;
  }

  #footer-social-icons a{
      margin: 0 8px;
  }

}

/* Small devices (landscape phones, less than 576px) */
@media (max-width: 576px){

  .menu_icon {
      top: 36px;
      right: 28px;
      z-index: 1000;
      cursor: pointer;
      position: absolute;

  }

  #navbar.open {
      margin: 0;
      padding-top: 60px;
      padding-right: 35px;
      opacity: 95%;
      z-index: 100;
      position: sticky;
      overflow: hidden;
      height: fit-content;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 5px 0 10px rgba(6, 3, 77, 0.1);
      background: linear-gradient(to right bottom, #080424, #050118);

  }

  #navbar.open a {
      margin: 10px;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 5px;
      margin-top: 5px; 
  }

  .container-fluid {
      padding-bottom: 1000px;
  }

  #left_heading{
      margin-top: 28px;
      margin-left: 18px;
      font-size: 1.8rem;
  }

  #background h1 {
      font-size: 1.9rem;
      margin-top: 200px;
  }

  #background > p{
      font-size: 1rem;
  }

  #box img {
      max-width: 360px;
  }

  #box {
      max-width: 335px;
  }
  
  #box h4 {
      font-size: 16px;
  }

  #button {
      font-size: 18px;
  }

  footer{
      display: inline-block !important;
      text-align: center !important;
      width: 100vw;
      height: 100px;
      display: flex;
      flex-direction: column;
     }

  #created_text{
      text-align: center;
      margin-left: 0 !important;
      width: 100vw !important;
      margin-top: 10px;
      font-size: 14px;
     }

  #copyright_text{
      text-align: center;
      margin-left: 0 !important;
      display: inline-block;
      width: 100vw !important;
      font-size: 14px;
     }

  #footer-social-icons a{
      margin: 0 8px;
     }

}

